{% extends 'base.html.twig' %}

{% block title %}Registreren{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">

        <div class="row">
            <div class="col-sm-8 mx-auto">
            
                <div class="registration-form-widget card">

                    <div class="card-header chat-title pt-3 pb-3">
                        <h1>Registreren</h1>
                    </div>

                    <div class="card-body">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email, {
                            label: 'Email address'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn btn-pri">Registreer</button>
                    {{ form_end(registrationForm) }}
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
