{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">

        <div class="row">
            <div class="col-sm-8 mx-auto">
            
                <div class="registration-form-widget card">

                    <div class="card-header chat-title pt-3 pb-3">
                        <h1>Register</h1>
                    </div>

                    <div class="card-body">
                    {{ form_start(registrationForm) }}

                        <div class="row regular-input-wrapper">
                            <div class="col-sm-6 mb-0">
                                {{ form_row(registrationForm.first_name, {
                                    label: 'First name'
                                }) }}
                            </div>
                            <div class="col-sm-6 mb-0">
                                {{ form_row(registrationForm.last_name, {
                                    label: 'Last name'
                                }) }}
                            </div>
                        </div>

                        {{ form_row(registrationForm.email, {
                            label: 'Email address'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn btn-pri">Sign up</button>
                    {{ form_end(registrationForm) }}
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
